<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581945395695-abom6pj5lisvj4chu41h5ikv3a0bovio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581945395695-abom6pj5lisvj4chu41h5ikv3a0bovio</string>
	<key>API_KEY</key>
	<string>AIzaSyD4x6b3mV5du50rv_C3SczN_86y3CDeEP4</string>
	<key>GCM_SENDER_ID</key>
	<string>581945395695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nzm.A-S-InstaCloneFB</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefb-a00d5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefb-a00d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581945395695:ios:58cde7429ee008b9054e1a</string>
</dict>
</plist>